body {
  background-color: #efe9e4;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  background-color: #96877c;
  margin: 5px;
  border-radius: 1rem;
  justify-content: end;
}

.menu-componentes,
a {
  list-style: none;
  text-decoration: none;
  padding: 1rem 0.5rem;
  color: #ffffff;
}

.menu-componentes:hover {
  text-decoration: underline 1.5px;
}

.menu-componentes-orcamento {
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  background-color: #6c6054;
}

h1,
h2 {
  margin: 0px;
  padding: 0px;
}

.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  padding: 0px;
}

.conteudo {
  margin-top: 4rem;
  text-align: center;
}

.titulo {
  font-size: 2rem;
  color: #5b5652;
}

.subtitulo {
  font-size: 1.9rem;
  color: #a49b94;
}

.foto-conteudo {
  margin-top: 4rem;
  text-align: center;
}

.botao-orcamento {
  display: block;
  font-size: 1.5rem;
  background-color: #96877c;
  margin: 0 auto;
  width: 15rem;
  height: 1.75rem;
  padding-top: 0.1rem;
  border-radius: 2rem;
}

.botao-orcamento:hover {
  text-decoration: underline;
}
