body {
  background-color: darkcyan;
  color: white;
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  background-color: cyan;
  margin: 0px;
  justify-content: end;
}

.menu-componentes {
  list-style: none;
  padding: 1rem;
}

a {
  text-decoration: none;
}
