body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #efe9e4;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98.5%;
  background-color: #96877c;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.navbar img {
  margin-left: 1rem;
  margin-right: auto;
  height: 40px;
  border-radius: 0.25rem;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  margin-left: 1px;
}

.nav-items a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1.25rem;
}

.nav-items a:hover {
  text-decoration: underline;
}

.registry {
  background-color: #6c6054;
  border-radius: 0.75rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

section img {
  max-width: 640px;
  max-height: 640px;
}

.text {
  grid-column: 1;
  text-align: center;
}

.text h1 {
  font-size: 3.5rem;
  color: #5b5652;
}

.text h2 {
  font-size: 3rem;
  color: #a49b94;
}

.sonho {
  font-size: 2rem;
  margin: 4rem;
  color: #a59c95;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #96877c;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
}

.button:hover {
  color: white;
  text-decoration: underline;
}

.item {
  grid-column: 2;
}

.item img {
  border-radius: 2rem;
}

.subtitle {
  display: contents;
  color: #5e5343;
  font-size: 5rem;
  margin-top: 4rem;
}

.projects {
  display: flex;
}

.projects--items {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.projects--items img {
  border-radius: 1rem;
}

.projects--items a {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #6c6054;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}

.projects--items a:hover {
  text-decoration: underline;
}

.button2 {
  text-decoration: none;
  color: white;
  background-color: #6c6054;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.button2:hover {
  color: white;
  text-decoration: underline;
}

.baseboard {
  display: flex; /* Usa flexbox para centralizar o conteúdo */
  flex-direction: column; /* Alinha os itens em uma coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente, se necessário */
  margin: 0;
  padding: 2rem; /* Adiciona algum padding ao redor, ajuste conforme necessário */
  color: white; /* Cor do texto para contraste */
}

.baseboard p {
  text-align: left;
}
.contact {
  color: #5e5343;
  font-size: 5rem;
  margin: 2rem 0; /* Ajusta a margem superior e inferior */
}

.contact--items {
  display: flex; /* Usa flexbox para alinhar os itens */
  flex-direction: column; /* Alinha os itens em uma coluna */
  align-items: center; /* Centraliza horizontalmente */
  gap: 1rem; /* Espaçamento entre os itens */
}
